* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.nav {
  width: 100vw;
  height: 3rem;
  background-color: transparent;
  position: fixed;
  z-index: 1;
}

header {
  width: 100vw;
  height: 900px;
  overflow: hidden;
  z-index: -1;
}

.header-img {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img > img {
  width: 450px;
  height: auto;
  transform: scale(1);
}
