.locations-section {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.text-container-place {
    width: 40%;
    height: 100%;
}

.locations-title {
    font-size: 2.5rem;
    padding: 2rem 1rem 2rem 2rem;
}

.map-container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}