.partner-section {
    height: 110vh;
    background-color: lightblue;
    position: relative;
    border-radius: 0 5rem 0 0;
}

.partner-img {
    height: 110vh;
    position: relative;
    background-image: url('../img/img-8.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.partner-title {
    position: absolute;
    bottom: 3rem;
    left: 2.5rem;
    font-size: 5.875rem;
    font-family: sans-serif;
    color: #e84a5f;
}

.partner-desc {
    position: absolute;
    bottom: 4rem;
    right: 2.5rem;
    font-size: 1.4rem;
    color: #e84a5f;
    font-family: sans-serif;
}

.fake-contain {
    width: 100vw;
    height: auto;
}

.box-1 {
    width: 100vw;
    height: 100vh;
    background-color: #333;
}