.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-card {
    width: auto;
    height: auto;
    background-color: white;
}

.item-details {
    width: 400px;
    background-color: white;
    padding: 1rem 3rem 0rem 3rem;
    position: relative;
}

.item-name {
    font-size: 2rem;
    margin: 1rem 0rem 0.5rem 0rem;
    color: #e84a5f;
}

.item-size {
    padding-bottom: 1rem;
}

.item-price {
    font-size: 2rem;
    position: absolute;
    right: 0rem;
    bottom: 2.8rem;
    color: #e84a5f;
}

.exit-modal {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    border: 1px solid #e84a5f;
    position: absolute;
    top: 1rem;
    right: -2.5rem;
    box-shadow: 2px 2px #e84a5f;
    background-color: white;
    cursor: pointer;
}

.modal-inputs {
    display: inline-block;
    padding: 2rem 3rem 3rem 3rem;
    height: 51px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.minus-btn {
    width: 51px;
    height: 51px;
    margin-right: 0.5rem;
    border-radius: 0%;
    border: 1px solid #e84a5f;
    background-color: #def2f1;
    box-shadow: 2px 2px #e84a5f;
    cursor: pointer;
}

.amount-input {
    width: 51px;
    height: 51px;
    padding: 1rem;
    margin-inline: 0.5rem;
    border-radius: 0%;
    border: 1px solid #e84a5f;
    box-shadow: 2px 2px #e84a5f;
}

.plus-btn {
    width: 51px;
    height: 51px;
    margin-inline: 0.5rem;
    border-radius: 0%;
    border: 1px solid #e84a5f;
    background-color: #def2f1;
    box-shadow: 2px 2px #e84a5f;
    cursor: pointer;
}

.add-btn {
    width: 10rem;
    height: 51px;
    margin-left: 0.5rem;
    border-radius: 0%;
    border: 1px solid #e84a5f;
    background-color: #def2f1;
    box-shadow: 2px 2px #e84a5f;
    cursor: pointer;
}