
footer {
    width: 100vw;
    height: 100vh;
    background-color: #e84a5f;
}

.footer-title {
    font-size: 3rem;
    width: 100vw;
    height: auto;
    text-align: center;
    color: white;
    font-family: 'Signika', sans-serif;
}

.footer-links {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -30px;
}

.footer-tag:nth-child(1) {
    margin-left: 1.5rem;
}

.footer-tag:nth-child(4) {
    margin-right: 1.5rem;
}

.footer-tag {
    color: white;
    text-decoration: none;
}

.social-link {
    color: white;
    text-decoration: none;
    margin-inline: 1rem;
}