header {
    width: 100vw;
    height: auto;
    background-color: lightgray;
    overflow: hidden;
}

@keyframes downScale1 {
    0% {
        width: 0;
        height: 0; 
    }
    100% {
        width: 0;
        height: 0; 
    }
}

@keyframes downScale2 {
    0% {
        width: 0;
        height: 0; 
    }
    100% {
        width: 0;
        height: 0; 
    }
}

@keyframes downScale3 {
    0% {
        width: 0;
        height: 0; 
    }
    100% {
        width: 0;
        height: 0; 
    }
}

@keyframes downScale4 {
    0% {
        width: 0;
        height: 0;  
    }
    100% {
        width: 0;
        height: 0;  
    }
}

@keyframes downScale5 {
    0% {
        width: 0;
        height: 0;  
    }
    100% {
        width: 0;
        height: 0;  
    }
}

@keyframes downScale6 {
    0% {
        width: 0;
        height: 0;  
    }
    100% {
        width: 450px;
        height: auto; 
    }
}

@keyframes upScale1 {
    0% {
        width: 0;
        height: 0;  
    }
    100% {
        width: 0;
        height: 0;  
    }
}
@keyframes upScale2 {
    0% {
        width: 0;
        height: 0;  
    }
    100% {
        width: 0;
        height: 0;  
    }
}
@keyframes upScale3 {
    0% {
        width: 0;
        height: 0;  
    }
    100% {
        width: 0;
        height: 0;  
    }
}
@keyframes upScale4 {
    0% {
        width: 0;
        height: 0;  
    }
    100% {
        width: 0;
        height: 0;  
    }
}
@keyframes upScale5 {
    0% {
        width: 0;
        height: 0;  
    }
    100% {
        width: 0;
        height: 0;  
    }
}
@keyframes upScale6 {
    0% {
        width: 0;
        height: 0;  
    }
    100% {
        width: 0;
        height: 0;  
    }
}