header {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 450px;
    height: auto;
}

@keyframes scaleImg1 {
    0% {
        width: 100vw;
        height: 100vh;
    }
    100% {
        width: 90vw;
        height: 80vh;
    }
}

@keyframes scaleImg2 {
    0% {
        width: 90vw;
        height: 80vh;
    }
    100% {
        width: 80vw;
        height: 70vh;
    }
}