

.svg-container {
    width: 1px;
    height: 142px;
    position: relative;
    top: 10rem;
    left: 20rem;
}

.svg-container > svg {
    width: 142px;
    height: 142px;
    fill: none;
    stroke: #e84a5f;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}