.svg-container {
    width: 142px;
    height: 142px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.svg-container > svg {
    width: 142px;
    height: 142px;
    fill: none;
    stroke: white;
    animation: rotation 20s infinite linear;
}

.svg-container > svg:nth-child(2) {
    position: absolute;
    animation: reverseRotation 20s infinite linear;
    animation: rotation 10s infinite linear;
}

.svg-container > img {
    position: absolute;
    width: 32px;
    height: 32px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes reverseRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-540deg);
    }
}