.info-container {
    width: 100vw;
    height: auto;
    position: relative;
    background-color: #def2f1;
    font-family: sans-serif;
  }

  .video-container {
    width: 500px;
    height: 385px;
    background-color: #333;
    border: 1px solid red;
    padding: 1rem;
  }

  .container-text {
    width: 100vw;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-paragraph {
    width: 500px;
    height: auto;
    color: #e84a5f;
    text-align: center;
  }

  .info-main-container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 5rem;
  }
  
  .question-paragraph {
    width: 320px;
    height: auto;
    border: 1px solid red;
    padding: 1rem;
  }
  
  .question-title {
    font-size: 3rem;
    color: #e84a5f;
    padding-bottom: 1rem;
  }
  
  .question-desc {
    color: #e84a5f;
    padding-bottom: 1rem;
  }
  
  .question-btn {
    padding: 0.5rem 1rem;
    color: #e84a5f;
    box-shadow: 3px 3px #e84a5f;
    border: 1px solid #e84a5f;
    background-color: #def2f1;
  }
  
  .last-paragraph {
    width: 320px;
    height: auto;
    border: 1px solid red;
    padding: 1rem;
  }
  
  .last-title {
    color: #e84a5f;
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  
  .last-desc {
    color: #e84a5f;
  }

