.info-container {
    width: 100vw;
    height: 200vh;
    position: relative;
    background-color: #def2f1;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .centerpiece {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .video-container {
    width: 40rem;
    height: 25rem;
    background-color: #333;
    position: absolute;
  }

  .video-moving-container {
    width: 40rem;
    height: 25rem;
    background-color: red;
    position: sticky;
    top: 6rem;
  }

  .info-text-container {
    width: 50%;
    height: 100%;
    position: relative;
    left: 5rem;
  }

  .top-paragraph {
    width: 300px;
    height: auto;
    color: #e84a5f;
    position: absolute;
    top: 5rem;
  }
  
  .question-paragraph {
    width: 300px;
    height: auto;
    position: absolute;
    top: 23rem;
  }
  
  .question-title {
    font-size: 3rem;
    color: #e84a5f;
  }
  
  .question-desc {
    color: #e84a5f;
  }
  
  .question-btn {
    padding: 0.5rem 1rem;
    color: #e84a5f;
    box-shadow: 3px 3px #e84a5f;
    border: 1px solid #e84a5f;
    background-color: #def2f1;
  }
  
  .last-paragraph {
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 5rem;
  }
  
  .last-title {
    color: #e84a5f;
    font-size: 3rem;
  }
  
  .last-desc {
    color: #e84a5f;
  }

