header {
    width: 100vw;
    height: 200vh;
    background-color: #def2f1;
    scroll-behavior: smooth;
    position: relative;
}

.flex {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.img-container {
    width: 100%; 
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    margin: auto;
}

.img-container-2 {
    width: auto; 
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: auto;
}

.header-img-1 {
    width: 100%;
    height: auto;
    position: absolute;
}

.background-text-container {
    width: 100vw;
    height: 100vh;
    font-size: 5rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: sans-serif;
    background-color: transparent;
    transform: rotate(-5deg);
    overflow: hidden;
    z-index: -10;
}

.scrolling-texts {
    white-space: nowrap;
    animation: scrollText 25s infinite linear;
    color: #e84a5f;
}

.hollow-texts {
    text-shadow: 0 0 2px #e84a5f;
    color: #def2f1;
}

@keyframes downScale1 {
    from {
        width: 100vw;
        height: 100vh; 
    }
    to {
        width: 90vw;
        height: 98vh; 
    }
}

@keyframes downScale2 {
    from {
        width: 90vw;
        height: 98vh; 
    }
    to {
        width: 80vw;
        height: 96vh; 
    }
}

@keyframes downScale3 {
    from {
        width: 80vw;
        height: 96vh; 
    }
    to {
        width: 70vw;
        height: 94vh; 
    }
}

@keyframes downScale4 {
    from {
        width: 70vw;
        height: 94vh;  
    }
    to {
        width: 60vw;
        height: 92vh;  
    }
}

@keyframes downScale5 {
    from {
        width: 60vw;
        height: 92vh;  
    }
    to {
        width: 50vw;
        height: 90vh;  
    }
}

@keyframes downScale6 {
    from {
        width: 50vw;
        height: 90vh;  
    }
    to {
        width: 45vw;
        height: 88vh; 
    }
}

@keyframes downScale7 {
    from {
        width: 45vw;
        height: 88vh;  
    }
    to {
        width: 40vw;
        height: 86vh; 
    }
}

@keyframes upScale1 {
    from {
        width: 90vw;
        height: 98vh;  
    }
    to {
        width: 100vw;
        height: 100vh;  
    }
}
@keyframes upScale2 {
    from {
        width: 80vw;
        height: 96vh;  
    }
    to {
        width: 90vw;
        height: 98vh;  
    }
}
@keyframes upScale3 {
    from {
        width: 70vw;
        height: 94vh;  
    }
    to {
        width: 80vw;
        height: 96vh;  
    }
}
@keyframes upScale4 {
    from {
        width: 60vw;
        height: 92vh;  
    }
    to {
        width: 70vw;
        height: 94vh;  
    }
}
@keyframes upScale5 {
    from {
        width: 50vw;
        height: 90vh;  
    }
    to {
        width: 60vw;
        height: 92vh;  
    }
}
@keyframes upScale6 {
    from {
        width: 45vw;
        height: 88vh;  
    }
    to {
        width: 50vw;
        height: 90vh;  
    }
}
@keyframes upScale7 {
    from {
        width: 40vw;
        height: 86vh;  
    }
    to {
        width: 45vw;
        height: 88vh;  
    }
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-35%);
    }
}

/* Overlay Hero */

.text-overlay-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: transparent;
    z-index: 10;
  }
  
  .text-container {
    width: 50%;
    height: auto;
    text-align: right;
  }
  
  .special-title {
    font-size: 10rem;
    line-height: 10rem;
    font-weight: 500;
    color: #def2f1;
  }
  
  .paragraph-container {
    width: 50%;
    height: 100%;
    padding: 2rem;
  }

  .overlay-desc {
    width: 475px;
    height: auto;
    padding-top: 5.25rem;
    padding-bottom: 5.7rem;
    color:  #def2f1;
  }
  
  .title-tail {
    font-size: 10rem;
    position: absolute;
    bottom: 5rem;
    right: 21.5rem;
    font-weight: 500;
    color:  #def2f1;
  }