.partner-section {
    width: 100vw;
    height: 110vh;
    position: relative;
    overflow: hidden;
    background-image: url("../img/img-8.jpg");
    background-size: cover;
}

.partner-title {
    position: absolute;
    bottom: 3rem;
    left: 2.5rem;
    font-size: 5.875rem;
    font-family: sans-serif;
    color: #e84a5f;
}

.partner-desc {
    position: absolute;
    bottom: 4rem;
    right: 2.5rem;
    font-size: 1.4rem;
    color: #e84a5f;
    font-family: sans-serif;
}