main {
    width: 100vw;
    height: auto;
    background-color: #def2f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8rem;
    font-family: sans-serif;
}

.section-title {
    font-size: 5.875rem;
    color: #e84a5f;
    margin-bottom: 3rem;
}

.card-container {
    width: calc(100vw - 4rem);
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
}

.card {
    width: 100%;
    height: 440px;
    border-radius: 3rem 0rem 0rem 0rem;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.card:nth-child(2), .card:nth-child(4), .card:nth-child(6), .card:nth-child(8) {
    border-radius: 0 3rem 0 0;
}

.card > img {
    width: 100%;
    height: auto;
}

.board-name, .board-price  {
    font-size: 1.2rem;
    color: #e84a5f;
    margin-left: 2rem;
}

.board-size {
    margin: 0.5rem 0rem 0.5rem 2rem;
}

.add-to-cart {
    position: absolute;
    right: 2rem;
    bottom: 2.8rem;
    border-radius: 50%;
    padding: 1.3rem;
    border: none;
    background-color: #e84a5f;
    cursor: pointer;
}

.catalog-cta {
    width: 8rem;
    height: 8rem;
    border: 5px solid #e84a5f;
    text-decoration: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 2rem 0rem 2rem 0rem;
}

/* Modal */

.backdrop {
    background-color: rgba(173, 216, 230, 0.445);
    width: 100vw;
    height: 100vh;
    z-index: 50;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
}

.cart-card {
    width: auto;
    height: auto;
    background-color: white;
}

.item-details {
    width: 400px;
    background-color: white;
    padding: 1rem 3rem 0rem 3rem;
    position: relative;
}

.item-name {
    font-size: 2rem;
    margin: 1rem 0rem 0.5rem 0rem;
    color: #e84a5f;
}

.item-size {
    padding-bottom: 1rem;
}

.item-price {
    font-size: 2rem;
    position: absolute;
    right: 0rem;
    bottom: 2.8rem;
    color: #e84a5f;
}

.exit-modal {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    border: 1px solid #e84a5f;
    position: absolute;
    top: 1rem;
    right: -2.5rem;
    box-shadow: 2px 2px #e84a5f;
    background-color: white;
    cursor: pointer;
}

.modal-inputs {
    display: inline-block;
    padding: 2rem 3rem 3rem 3rem;
    height: 51px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.minus-btn {
    width: 51px;
    height: 51px;
    margin-right: 0.5rem;
    border-radius: 0%;
    border: 1px solid #e84a5f;
    background-color: #def2f1;
    box-shadow: 2px 2px #e84a5f;
    cursor: pointer;
}

.amount-input {
    width: 51px;
    height: 51px;
    padding: 1rem;
    margin-inline: 0.5rem;
    border-radius: 0%;
    border: 1px solid #e84a5f;
    box-shadow: 2px 2px #e84a5f;
}

.plus-btn {
    width: 51px;
    height: 51px;
    margin-inline: 0.5rem;
    border-radius: 0%;
    border: 1px solid #e84a5f;
    background-color: #def2f1;
    box-shadow: 2px 2px #e84a5f;
    cursor: pointer;
}

.add-btn {
    width: 10rem;
    height: 51px;
    margin-left: 0.5rem;
    border-radius: 0%;
    border: 1px solid #e84a5f;
    background-color: #def2f1;
    box-shadow: 2px 2px #e84a5f;
    cursor: pointer;
}