footer {
    width: 100vw;
    height: 100vh;
    background-color: #e84a5f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.footer-title {
    font-size: 3.5rem;
    width: 100vw;
    height: auto;
    text-align: center;
    color: white;
    font-family: 'Signika', sans-serif;
    margin-bottom: 3rem;
    font-weight: 500;
}

form {
    width: calc(100vw - 4rem);
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr;
}

.input-border > label {
    font-family: sans-serif;
    color: white;
}

#input {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
}

#input:focus {
    outline: none;
}

.input-details {
    width: 100%;
    height: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}

#submit {
    width: 5rem;
    height: 2.5rem;
    background-color: #e84a5f;
    color: white;
    box-shadow: 3px 3px white;
    border: 1px solid white;
}

.footer-links {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 30px;
}

.footer-tag:nth-child(1) {
    margin-left: 2rem;
}

.footer-tag:nth-child(4) {
    margin-right: 2rem;
}

.footer-tag {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.social-link {
    color: white;
    text-decoration: none;
    margin-inline: 1rem;
    font-family: sans-serif;
}