header {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-container {
    width: 100vw; 
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    perspective: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.img-container > img {
    width: 100%;
    height: auto;
}

.background-text-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
    font-size: 4rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: sans-serif;
    background-color: #def2f1;
}

.background-text-container > h3 {
    white-space: nowrap;
    padding: 0.7rem 0;
    transform: rotate(-5deg);
}

.hollow-texts {
    text-shadow: 0 0 2px black;
    color: #def2f1;
}

@keyframes downScale1 {
    0% {
        width: 100vw;
        height: 100vh; 
    }
    100% {
        width: 90vw;
        height: 98vh; 
    }
}

@keyframes downScale2 {
    0% {
        width: 90vw;
        height: 98vh; 
    }
    100% {
        width: 80vw;
        height: 96vh; 
    }
}

@keyframes downScale3 {
    0% {
        width: 80vw;
        height: 96vh; 
    }
    100% {
        width: 70vw;
        height: 94vh; 
    }
}

@keyframes downScale4 {
    0% {
        width: 70vw;
        height: 94vh;  
    }
    100% {
        width: 60vw;
        height: 92vh;  
    }
}

@keyframes downScale5 {
    0% {
        width: 60vw;
        height: 92vh;  
    }
    100% {
        width: 50vw;
        height: 90vh;  
    }
}

@keyframes downScale6 {
    0% {
        width: 50vw;
        height: 90vh;  
    }
    100% {
        width: 45vw;
        height: 88vh; 
    }
}

@keyframes downScale7 {
    0% {
        width: 45vw;
        height: 88vh;  
    }
    100% {
        width: 40vw;
        height: 86vh; 
    }
}

@keyframes upScale1 {
    0% {
        width: 90vw;
        height: 99vh;  
    }
    100% {
        width: 100vw;
        height: 100vh;  
    }
}
@keyframes upScale2 {
    0% {
        width: 80vw;
        height: 96vh;  
    }
    100% {
        width: 90vw;
        height: 98vh;  
    }
}
@keyframes upScale3 {
    0% {
        width: 70vw;
        height: 94vh;  
    }
    100% {
        width: 80vw;
        height: 96vh;  
    }
}
@keyframes upScale4 {
    0% {
        width: 60vw;
        height: 92vh;  
    }
    100% {
        width: 70vw;
        height: 94vh;  
    }
}
@keyframes upScale5 {
    0% {
        width: 50vw;
        height: 90vh;  
    }
    100% {
        width: 60vw;
        height: 92vh;  
    }
}
@keyframes upScale6 {
    0% {
        width: 45vw;
        height: 88vh;  
    }
    100% {
        width: 50vw;
        height: 90vh;  
    }
}
@keyframes upScale7 {
    0% {
        width: 40vw;
        height: 86vh;  
    }
    100% {
        width: 45vw;
        height: 88vh;  
    }
}