nav {
    width: 100vw;
    height: 5rem;
    background-color: transparent;
    border-bottom: 1px solid black;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #e84a5f;
    font-size: 1.5rem;
    position: absolute;
    left: 2rem;
    top: 1.6rem;
    font-family: sans-serif;
    font-weight: 700;
}

.links-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.btn-theme {
    width: auto;
    height: 40px;
    padding: 0 0.5rem;
    background-color: #def2f1;
    color: #e84a5f;
    box-shadow: 2px 2px #e84a5f ;
    border: 1px solid #e84a5f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-theme-shop {
    width: 40px;
    height: 40px;
    background-color: #def2f1;
    color: #e84a5f;
    box-shadow: 2px 2px #e84a5f ;
    border: 1px solid #e84a5f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-theme-shop:nth-child(2) {
    border-left: none;
}

.catalogue-link {
    margin-right: 1rem;
}

.menu {
    margin-right: 2rem;
}

.menu > svg {
    margin-inline: 0.8rem 0.5rem;
}