.header {
    width: 100vw;
    height: auto;
    background-color: #def2f1;
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
    margin-inline: auto;
}

.flexContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.animationTrigger {
    width: 100vw;
    height: 400px;
    position: absolute;
    top: calc(100vh - 200px);
    background-color: black;
}

/*/ scrolling image container /*/


.size0 {
    width: 100vw; 
    height: 100vh;
    transition: all 0.5s ease;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.size1 {
    width: 95vw; 
    height: 97vh;
    transition: all 0.5s ease;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.size2 {
    width: 90vw; 
    height: 94vh;
    transition: all 0.5s ease;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.size3 {
    width: 85vw; 
    height: 91vh;
    transition: all 0.5s ease;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.size4 {
    width: 80vw; 
    height: 89vh;
    transition: all 0.5s ease;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.size5 {
    width: 75vw; 
    height: 86vh;
    transition: all 0.5s ease;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.size6 {
    width: 70vw; 
    height: 83vh;
    transition: all 0.5s ease;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.size7 {
    width: 67vw; 
    height: 80vh;
    transition: all 0.5s ease;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 100vh;
}

.headerImage {
    width: 100%;
    height: auto;
    filter: brightness(80%);
}

.backgroundText {
    width: 100vw;
    height: 100vh;
    font-size: 6rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: sans-serif;
    background-color: transparent;
    transform: rotate(-5deg);
    overflow: hidden;
    z-index: -10;
    padding-bottom: 4rem;
}

.scrollingTexts {
    white-space: nowrap;
    animation: scrollText 25s infinite linear;
    color: #e84a5f;
}

.hollowTexts {
    text-shadow: 0 0 2px #e84a5f;
    color: #def2f1;
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-35%);
    }
}

@media screen and (max-width: 1100px) {
    .headerImage {
        height: 100%;
        width: auto;
        filter: brightness(70%);
    }
}