.main {
    width: 100vw;
    height: auto;
    background-color: #def2f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8rem;
    font-family: sans-serif;
}

.title {
    font-size: 5.875rem;
    color: #e84a5f;
    margin-bottom: 3rem;
}

.cardContainer {
    width: calc(100vw - 4rem);
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    padding-bottom: 3rem;
}

.card {
    width: 320px;
    height: 440px;
    border-radius: 3rem 0rem 0rem 0rem;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.card:nth-child(2), .card:nth-child(4), .card:nth-child(6), .card:nth-child(8) {
    border-radius: 0 3rem 0 0;
}

.card > img {
    width: 100%;
    height: auto;
}

.boardName, .boardPrice  {
    font-size: 1.2rem;
    color: #e84a5f;
    margin-left: 2rem;
}

.boardSize {
    margin: 0.5rem 0rem 0.5rem 2rem;
}

.openCart {
    position: absolute;
    right: 2rem;
    bottom: 2.8rem;
    border-radius: 50%;
    padding: 1.3rem;
    border: none;
    background-color: #e84a5f;
    cursor: pointer;
}

@media (max-width: 1115px) {
    .cardContainer {
        width: calc(100vw - 8rem);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }

    .card:nth-child(2), .card:nth-child(5) {
        border-radius: 0;
    }

    .card:nth-child(3) {
        border-radius: 0 3rem 0 0;
    }

    .card:nth-child(4) {
        border-radius: 0 0 0 3rem;
    }
    .card:nth-child(6) {
        border-radius: 0 0 3rem 0;
    }

    .card:nth-child(7) {
        display: none;
    }

    .card:nth-child(8) {
        display: none;
    }
}

@media (max-width: 800px) {
    .cardContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .title {
        text-align: center;
    }
    .card:nth-child(7) {
        display: none;
    }
    .card:nth-child(8) {
        display: none;
    }
}

@media (max-width: 640px) {
    .cardContainer {
        width: calc(100vw - 3rem);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 0.5rem;
    }
    .card {
        width: 280px;
        height: 400px;
    }
    .card:nth-child(2) {
        border-radius: 0 3rem 0 0;
    }
    .card:nth-child(3), .card:nth-child(4) {
        border-radius: 0;
    }
    .card:nth-child(5) {
        border-radius: 0 0 0 3rem;
    }

    .card:nth-child(7) {
        display: none;
    }

    .card:nth-child(8) {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .cardContainer {
        grid-template-columns: 1fr;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .title {
        font-size: 3.5rem;
    }
    .card:nth-child(1) {
        border-radius: 3rem 3rem 0 0;
    }
    .card:nth-child(2), .card:nth-child(3), .card:nth-child(4), .card:nth-child(5) {
        border-radius: 0;
    }
    .card:nth-child(6) {
        border-radius: 0 0 3rem 3rem;
    }
}
